.main {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eee;
    background-color: #eee;
    padding: 2px;
    user-select: none;
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
    .main_ {
        display: flex;
        flex-wrap: wrap;
    }
}
.dot {
    user-select: none;
}